<!-- data.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Data Visualization</title>
  </head>
  <body>

    <h1>School</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools %}
        <tr>
          <td>{{ school.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Class</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Class</th>
        </tr>
      </thead>
      <tbody>
        {% for class_name in class_name %}
        <tr>
          <td>{{ class_name.class_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Assessment Area</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Assessment area</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools %}
        <tr>
          <td>{{ assessment_areas.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Student</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Student</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools %}
        <tr>
          <td>{{ student.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Answers</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Answers</th>
        </tr>
      </thead>
      <tbody>
        {% for answer in answers %}
        <tr>
          <td>{{ answers.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Awards</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Awards</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools %}
        <tr>
          <td>{{ award.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Subject</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools %}
        <tr>
          <td>{{ subject.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
